<div class="container-fluid">
  <div class="container">
    <div class="row">
      <h4>Theos Sistemas Eclesiais</h4>
    </div>
    <div class="row">
      <div class="col col-md-6">
        <span>
          <p>Thèos - Repositório em tempo real.</p>
        </span>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr class="table-primary">
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Sobre Nome</th>
            <th scope="col">Idade</th>
            <th scope="col">Rua</th>
            <th scope="col">Número</th>
            <th scope="col">Complemento</th>
          </tr>
        </thead>
        <tbody *ngIf="listaDeClientes">
          <tr *ngFor="let cliente of listaDeClientes">
            <td>{{ cliente.id }}</td>
            <td>{{ cliente.nome }}</td>
            <td>{{ cliente.sobreNome }}</td>
            <td>{{ cliente.idade }}</td>
            <td>{{ cliente.endereco.rua }}</td>
            <td>{{ cliente.endereco.numero }}</td>
            <td>{{ cliente.endereco.complemento }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <br>
    <div>
      <button type="submit" class="btn btn-dark" (click)="AdicionarCliente()">Adicionar Cliente</button>
    </div>
  </div>
</div>

<router-outlet></router-outlet>